{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('semaforo') }}
{% endblock %}

{% block javascripts %}    
    {{ encore_entry_script_tags('semaforo') }}
{% endblock %}
        
{% block body %} 
{{ obj.parametroMedicion }}
   <div class="container">
        <div class="semaforo"> {# para prender la luz toma lo que dice despues de luces-circulo, si no hay nada queda apagada la luz #}

            <span class="luces-circulo" color = "red"> {{obj.rojo}}</span> 
            <span class="luces-circulo" color="yellow"></span> 
            <span class="luces-circulo" color="green"></span>
        </div>
     

    </div>

      
            <div class="container">
        <div class="semaforo"> {# para prender la luz toma lo que dice despues de luces-circulo, si no hay nada queda apagada la luz #}
<table>
    <td><span class="luces-circulo" color = "red"></span></td>
    <td> {{obj.rojo}}</td> 
        
           <span class="luces-circulo" color="yellow"></span>
          <td>{{obj.amarillo}}
         <span class="luces-circulo" color="green"></span>
            
        </div>
</table>

    </div>   
 
        

    
{% endblock %}