{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('semaforo') }}
{% endblock %}

{% block javascripts %}    
    {{ encore_entry_script_tags('semaforo') }}
{% endblock %}
        
{% block body %} 
 <h2>   {{ obj.parametroMedicion }} </h2>
      <table>
      
      <td>
       <div class="container">  
        <div class="semaforo"> {# para prender la luz toma lo que dice despues de luces-circulo, si no hay nada queda apagada la luz #}
            <span class="luces-circulo" color = "red"></span>
             <span class="luces-circulo" color="yellow"></span>
             <span class="luces-circulo" color="green"></span>   
        </div>
         </div></td> 
        <td> {{obj.rojo}} 
        <br><br>{{ obj.amarillo }} 
         <br><br>{{ obj.verde }}  
</td> 
    </table>

      
    
{% endblock %}