{% extends 'base.html.twig' %}

{% block title %}Pregunta index{% endblock %}

{% block body %}
    <h1>Lista de preguntas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id pregunta</th>
                <th>Parametro de medicion</th>
                <th>Rojo</th>
                <th>Amarillo</th>
                <th>Verde</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for preguntum in preguntas %}
            <tr>
                <td>{{ preguntum.idpregunta }}</td>
                <td>{{ preguntum.parametromedicion }}</td>
                <td>{{ preguntum.rojo }}</td>
                <td>{{ preguntum.amarillo }}</td>
                <td>{{ preguntum.verde }}</td>
                <td>{{ preguntum.fecha ? preguntum.fecha|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_pregunta_show', {'idpregunta': preguntum.idpregunta}) }}">ver</a>
                    <a href="{{ path('app_pregunta_edit', {'idpregunta': preguntum.idpregunta}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Sin preguntas</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pregunta_new') }}" class="btn btn-light" >Crear nueva</a>

    
{% endblock %}
